<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Formy | Welcome</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    
  </head>

  <body>
    <header>
      <!-- place navbar here -->
    </header>
    <main class="d-flex align-items-center justify-content-center min-vh-100">
      <div class="border rounded-2 d-flex flex-column align-items-center p-5">
        <h1 class="pb-2">Welcome {{name}} !</h1>
        <span>
          <p>
            Your email: <span><a href="mailto:{{email}}">{{email}}</a></span>
          </p>
          <p>
            Your Num: <span><a href="tel:+91{{number}}">{{number}}</a></span>
          </p>
        </span>

        <form action="/">
          <button class="btn btn-secondary" type="submit">Log out</button>
        </form>
      </div>
    </main>
   
  </body>
</html>
